.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  width: 70%;
  margin: auto;
  backdrop-filter: blur(10px);
  text-align: center;
}

.heading {
  color: #00f7ff;
  font-size: 28px;
}